

header {
    position: relative;
    width: 80%;
    height: 50px;
    background-color: #2f2f34;
    padding-left: 10%;
    padding-right: 10%;
}

header .logo {
    width: 110px;
    height: 35px;
    margin-top: 7.5px;
    display: inline-block;
}

header .facebook {
    float: right;
    padding: 0px;
    margin-top: 13px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

nav {
    list-style-type: none;
    display: inline;
    float: right;
    margin-right: 70px;
}

nav li {
    display: inline;
    position: relative;
    padding-left: 70px;
    padding-bottom: 4px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    top: 15px;
    border-bottom: 6px solid #2f2f34;
}

nav li:first-child {
    padding-left: 0px;
}


nav li a {
    text-decoration: none;
    padding-bottom: 4px;
    color: #ececf3;
    transition-duration: .1s;
}

nav li a:hover {
    border-bottom: 6px solid #02e5b9;
    color: #02e5b9;
}

nav li a.active {
    border-bottom: 6px solid #02e5b9;
    color: #02e5b9;
}


.heroImage {
    background-image: url('images/heroImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    opacity: 0;
}

footer {
    position: absolute;
    width: 80%;
    height: 26px;
    background-color: #2f2f34;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 0px;
    text-align: center;
    color: #ebebf3;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    padding-top: 8px;
}

.cytat {
    position: absolute;
    display: block;
    font-size: 36px;
    color: #02e5b9;
    font-family: courgette;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);           
}

.cytat .autor {
    color: #2f2f34;
    font-size: 24px;
    font-family: rajdhani;
    font-weight: bold;
    display: block;
    text-align: right;
    padding-top: 15px;
}

section.omnie {
    margin-left: 10%;
    width: 80%;
    margin-top: 80px;
    vertical-align: middle;
}

section.omnie img {
    float: left;
}
section.omnie .faceMe {
    opacity: 0;
}

.description {
    color: #484a42;
    font-family: rajdhani;
    font-size: 18px;
    display: inline;
    text-align: justify;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
}

.description p {
    text-indent: 1.5em;
    line-height: 1.5em;
}

.experience {
    display: block;
    margin-top: 120px;
    text-align: center;   
    width: 100%;
    text-align: center;
}

.experience ul:first {
    margin-top: 0px;
}

.experience ul {
    margin-top: 40px;
    list-style-type: none;
    text-align: center;
}

.experience ul li {
    padding-left: 30px;
    color: #2f2f34;
    font-size: 24px;
    font-family: Rajdhani;
}

.experience ul li {
    display: inline;
}

.experience ul.star {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

.experience ul.star li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    padding: 0px;
    width: 16px;
    height: 16px;
    background-image: url('images/unStar.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    opacity: 0;
}

.experience ul.star li:first {
    margin-left: 0px;
}

.experience ul.star li.active {
    background-image: url('images/star.png');
}


section.projekty {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

section.projekty img.preview {
    width: 150px;
    height: 100px;
    border: 2px solid #484a42;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    opacity: 0;
}

section.projekty .element {
    display: block;
    position: relative;
    height: 150px;
    width: auto;
    background-image: url('images/leftBorder.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

section.projekty .element ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 25px;
    margin-left: 25px;
}

section.projekty .element ul li {
    
    font-size: 18px;
    color: #484a42;
    font-family: Rajdhani;
    line-height: 1.5em;
}

section.projekty .element ul li h4 {
    float: left;
    margin-right: 5px;
}

section.kontakt {
    width: 80%;
    height: 193px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 10%;
    display: block;
    position: relative;
}

section.kontakt img.location {
    position: absolute;
    left: auto;
    transform: translate(-140px, 0); 
    
}

section.kontakt ul {
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    font-family: Rajdhani;
    font-weight: bold;
    clear: right;
    text-align: left;
    vertical-align: middle;
    margin-top: 35px;
    margin-left: 10px;
}

section.kontakt ul li a {
    text-decoration: none;
    color: #484a42;
}

section.kontakt ul li a:hover {
    color: #02e5b9;
}

